<h1>{{titulo}}</h1>

<ul id="restaurantes-list">
    <li class="loading">
		<img src="../../assets/images/loader.gif" *ngIf="loading === 'show'" />
	</li>
    <li *ngFor=" let restaurante of restaurantes"  class="restaurante-item">
        <div class="image"><img src="http://localhost/restaurante/uploads/{{restaurante.imagen}}" *ngIf="restaurante.imagen && restaurante.imagen !== 'null'" />
</div>
        <div class="data">
            <h4>{{restaurante.nombre}}</h4>
            <p>{{restaurante.direccion}}</p>
            <p>
                <a [routerLink]="['/restaurante', restaurante.id]" class=" btn btn-ver">Ver</a>
                <a  class=" btn btn-editar" [routerLink]="['/editar-restaurante', restaurante.id]">Editar</a>
                <a  class=" btn btn-eliminar" (click)="onBorrarConfirm(restaurante.id)" >Eliminar</a>
            </p>
            <div class="seguro" *ngIf="confirmado == restaurante.id">
                <a  class=" btn btn-eliminar" (click)="onBorrarRestaurante(restaurante.id)" >Eliminar</a>
                <a  class=" btn btn-ver" (click)=" onCancelarConfirm(restaurante.id)" >Cancelar</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>


</ul>